%h2 Comics
- if @comics
  %table.comic_index
    %tr
      %th Reads
      %th Issues
      %th Comic
    - for comic in @comics
      %tr
        %td= comic.reads 
        %td= comic.issues.count
        %td
          = comic.title
          %small{:class => "extra"}= link_to "[del]", comic, :confirm => "this will delete all issues and reads of this comic title as well, proceed?", :method => :delete
- else
  %p No Comics
