%p#intro Welcome to ComicReads. Log your comic book reading (and also your collection along the way).
%p#new_read= link_to "Add a New Read", new_read_path
%p#view_reads= link_to "View Reading Log", reads_path
